<div class="login-page-wrapper">
    
    <div class="login-page-section">
      
        <div class="login-box">
        
            <div class="image-section">
                <div class="image-container">
                    <img src="../../../assets/images/login_img.jpg" alt="" class="login-img">
                </div>
            </div>

            <div class="login-section">

                <div class="login-container w-form">
                    
                    <a href="" class="login-img-link w-inline-block">
                        <img src="../../../assets/images/mentaLogov2.png" width="124" alt="" class="login-image">
                    </a>
                
                    <h1 class="login-titulo">Ingresa a tu cuenta</h1>

                    <div class="texto-login">¿Eres nuevo? Da click aquí y 
                        <a routerLink="/register" class="link-login">crea una cuenta</a>
                    </div>
                
                    <form class="memberstack-form" 
                            id="loginform"
                            autocomplete="off"
                            [formGroup]="loginForm"
                            (ngSubmit)="login()">
                        
                        <div class="field-wrapper">
                            <label class="login-label">Correo electrónico</label>

                            <input  type="email" 
                                    class="login-field w-input" 
                                    formControlName="email" 
                                    placeholder="Ingresa tu correo electrónico">
                        </div>
                        
                        <div class="field-wrapper">
                            <label class="login-label">Contraseña</label>
                            <input  type="password" 
                                    class="login-field w-input" 
                                    formControlName="password" 
                                    placeholder="Ingresa tu contraseña">
                        </div>
                        
                        <a href="recuperarcontrasena" class="forgot-password">¿Olvidaste tu contraseña?</a>

                        <label class="w-checkbox checkbox-field"> 

                            <input type="checkbox" 
                                    id="checkbox_login" 
                                    formControlName="remember" 
                                    class="filled-in chk-col-light-blue" 
                                    checked="">
                            <label for="checkbox_login">
                                <span class="login-label">Recordar contraseña</span>
                            </label>

                        </label>

                        <div class="field-wrapper">
                            <div class="login-label text-danger">
                                <p *ngIf="campoNoValido('email')">* El email es obligatorio.</p>
                                <p *ngIf="campoNoValido('password')">* Ingresa tu contraseña.</p>
                            </div>                            
                        </div>

                        
                        
                        <div class="field-wrapper" id="google-btn">
                            <div id="my-signin2"></div>
                        </div>
                        

                        <input type="submit" 
                                value="Ingresar" 
                                data-wait="Validando espere..." 
                                class="login-button w-button">

                        <div class="terms-text"> 
                            <a href="#" class="link-login">Aviso de Privacidad</a>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>